.pet-card {
    transition: transform 0.1s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.pet-card:hover {
    transform: scale(1.05);
}

.pet-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
    display: block;
}

.pet-card .MuiCardContent-root {
    text-align: center;
    background-color: #f8f9fa;
}

.status {
    text-align: left;
    padding-top: 10px;
}

.status-available {
    color: #008000 !important;
}

.status-adopted {
    color: #ff0000 !important;
}

/* .reserved-card {
    background-color: #d3d3d3 !important;
} */

.status-reserved {
    color: #d8c142 !important;
}

.reserved-card .MuiCardMedia-root {
    filter: grayscale(100%) !important;
    opacity: 0.5 !important;
}

.MuiButton-outlined {
    border-color: #d8c142 !important;
    color: #d8c142 !important;
    font-weight: bold;
    text-transform: none;
    transition: all 0.2s ease-in-out;
}

.MuiButton-outlined:hover {
    background-color: #f4f1d6 !important;
    border-color: #c2ae2e !important;
    color: #c2ae2e !important;
}
