.pet-card {
    transition: transform 0.1s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.pet-card:hover {
    transform: scale(1.05);
}

.pet-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: top;
    display: block;
}

.pet-card .MuiCardContent-root {
    text-align: center;
    background-color: #f8f9fa;
}

/* CULORI STATUS */
.status {
    text-align: left;
    padding-top: 10px;
}

.status-available {
    color: #008000; /* verde */
}

.status-adopted {
    color: #ff0000; /* roșu */
}

.status-reserved {
    color: #d8c142; /* galben */
}
