body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

#home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2e2e2e;
    text-align: center;
    margin-bottom: 20px;
}

.home {
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-height: 100vh;
    gap: 10px;
    position: relative;
}

.content-inceput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0 2vh;
}

.info {
    flex: 1;
    padding-right: 10px;
}

.swiper-container {
    width: 70vh;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }

  .content-info h2 {
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    padding-bottom: 20px;
  }

  .content-info img {
    width: 100%; /* Poți seta și o valoare fixă, ex. 250px */
    height: 350px; /* Asigură o înălțime uniformă */
    object-fit: cover; /* Taie excesul și umple spațiul */
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}


  @media (max-width: 900px) {
    .content-inceput {
        flex-direction: column;
        gap: 20px;
    }

    .swiper-container {
        width: 100%;
    }

    .info {
        padding-right: 0;
    }

    .content-info {
        padding: 20px;
    }
}