.animal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.animal-card {
  border: 1px solid #d51919;
  padding: 1rem;
  border-radius: 8px;
  background: #4c0e0e;
  width: 300px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.animal-card h2 {
  margin: 0 0 0.5rem 0;
}

.animal-card p {
  margin: 0.3rem 0;
}
