* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: justify;
    font-size: 18px;
  }
  
  body {
    position: relative;
    background-color: #e5f3f3;
    color: rgb(1, 12, 29);
  }
  